* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background: #111;
  color: white;
}

/* Hero */
.hero {
  height: 100vh;
  background-image: url(../image/Gym.webp);
  background-size: cover;
  background-position: center;
}

/* About Us */
.about {
  opacity: 0;
  transform: translateY(50px);
  transition: 1s ease;
}
.about.show {
  opacity: 1;
  transform: translateY(0);
}

.about p {
  max-width: 600px;
}
.about a {
  transition: 0.3s;
}
.about a:hover {
  letter-spacing: 1px;
}
.img-box img {
  height: 300px;
  transition: 0.4s;
}
.img-box:hover img {
  transform: scale(1.1);
  filter: brightness(70%);
}
.img-box span {
  opacity: 0;
  transition: 0.4s;
}
.img-box:hover span {
  opacity: 1;
}

/* Level Selection */
.levels .level-btn {
  background: #373535;
  transition: 0.3s;
}
.level-btn.active {
  background-color: #ff0000;
  color: white;
  font-weight: bold;
}

/* Workout Box */
.workout-box {
  display: none;
}
.workout-box.visible {
  display: block;
}
.workout-box ul {
  list-style: none;
}
.workout-box ul li {
  background: #373535;
  cursor: pointer;
  transition: 0.3s;
}
.workout-box ul li:hover {
  background: #555;
}
.workout-box ul li.active {
  background-color: #ff0000;
}

/* Day Sections */
.section {
  background-color: #1a1a1a !important;
  transition: 0.3s ease-in-out;
  display: none;
}
.section.visible {
  display: block;
}

/* Cards */
.card {
  width: 300px;
  height: 317px;
  background-color: #222 !important;
  color: white !important;
  cursor: pointer;
  transition: 0.3s;
}
.card img {
  width: 100%;
  height: 223px;
}
.card:hover {
  background: red !important;
  transform: scale(1.05);
}

/* Schedule */
#Schedule {
  width: 100%;
  min-height: 100vh;
  background-color: #27272a;
}
.head {
  width: 500px;
}
.head::before,
.head::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #cfc2c23c;
  transition: all 1s ease-in-out;
  z-index: -1;
}
.head::before {
  left: 0;
}
.head::after {
  right: 0;
}
.head:hover::before {
  animation: left-move 0.4s linear forwards;
}
.head:hover::after {
  animation: right-move 0.4s linear forwards;
}
@keyframes left-move {
  50% {
    left: 0;
    width: 0;
    height: 0;
  }
  100% {
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 0;
    height: 0;
  }
  100% {
    right: 0;
    width: 50%;
    height: 100%;
    border-radius: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
}
.Schedule table {
  height: 500px;
  border-collapse: collapse;
}
.plan {
  width: 300px;
  height: 520px;
  transform: skewY(-4deg);
  transition: 0.5s;
}
.plan:hover {
  background-color: #ccc;
  color: #000;
}
.plan-card {
  transform: skewY(4deg);
  display: block;
}
.plan-card span {
  color: #c4c4c4;
}
.plan:hover .plan-card span {
  color: #000;
}
.plan-card .price h3 {
  color: #f36100;
}
.plan-card ul li {
  color: #c4c4c4;
}
.plan:hover .plan-card ul li {
  color: #000;
}
.plan button {
  background-color: #27272a;
  transform: skewY(4deg);
}
.plan:hover button {
  background-color: #f36100;
}

/* footer */
footer {
  min-height: 50vh;
}

footer .box {
  width: 266px;
}
.box ul li a {
  color: #fff;
  transition: 0.3s;
}
.box ul li a:hover {
  color: #f36100;
}

/* Responsive Mobile */
@media (max-width: 576px) {
  .card {
    width: 100%;
  }

  .plan {
    width: 90%;
    transform: skewY(0);
  }
  .plan-card {
    transform: skewY(0);
  }
  .plan button {
    transform: skewY(0);
  }

  .head {
    width: 90%;
  }
}
